<div class="container">
    <div class="side_section ga-notice-sidebar">
        <div class="card_top-container">
            <h3 class="homeText">Home</h3>
            <div class="intro-bg" [style.backgroundImage]="'url(' + topSectionBg + ')'">

                Welcome back,
                <br>
                Smartlearn Support! 👋

            </div>
        </div>
    </div>

    <div class="scrollable_container">
        <div class="scrollable_section">
            <div class="scrollable_title">
                <p class="e_notice_text">E-notice board</p>
                <div>
                    View All
                    <i class="pi pi-chevron-down" style="color: slateblue"></i>
                </div>

            </div>
            <div class="slick_list">
                <div class="slick_track">
                    <div class="card" style="width: 532px;">
                        <div class="card_content">
                            <div class="board_content">
                                <span class="badge " style="color: red; margin-bottom: 5px;">ECA/CAA</span>
                                <div>Test</div>
                                <small class="date-location">GIIS SmartCampus . 21-04-2025</small>
                                <div class="f-size-14 fw-400 mb-0 line-clamp-2"> 123 </div>
                                <a class="see-more fw-400 f-size-14" tabindex="0">See more</a>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
            <hr class="hrline">
            <p class="e_notice_text fw-600 f-size-16 ml-md-10">Your Feed</p>
            <div  class="community_container box-shadow"><img
                    _ngcontent-ng-c2951703830="" [src]="communityBg" alt="Error Icon">
                <div _ngcontent-ng-c2951703830="" class="txt-fw600-s16 txt-gray-900 mt-4">Haven't joined any community?
                </div>
                <div _ngcontent-ng-c2951703830="" class="txt-fw400-s14 txt-gray-600 mt6"> Visit our Discover section to
                    see communities we think you’ll love or Suggest your own community today. </div>
                <div _ngcontent-ng-c2951703830="" class="txt-fw600-s14 txt-primary-500 cursor-pointer">Discover new
                    communities.</div>
            </div>
        </div>
    </div>

</div>